@import url("../../partials/home-at-cases.css");

.at-load-page{
    text-align: center;
    margin-top: 80px;
    font-style: italic;
}
.at-cases .row{
    padding-top: 40px;
}
.at-load-page a{
    color: var(--color-font);
    transition: .3s all;
    font-size: 15px;
    font-size: 500;
}
.at-load-page a:hover{
    color: var(--color-details-primary);
}

/* INTERNO */

.at-cases_interno{
    padding: 50px 0;
}
.at-header_title{
    padding: 50px 0 70px 0;
}
.at-cases_interno .at-title-main_01{
    margin-bottom: 50px;
}
.at-cases-relacionado .row{
    width: 100%;
}
