/****************************************************************************************** 

    Arquivo sempre será importado na page HOME.css 
        ( Ou arquivo usado para links de importação.)

    Exemplo code: 
        @import url("css_pages/home_css/home-at-banner-main.css");
    
    
******************************************************************************************/
.at-banner-main{
    background-image: url('/img/img-banner-mian01.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    min-height: 650px;
    clip-path: polygon(0 0%, 100% 0, 100% 95%, 0% 100%);
    display: flex;
    padding-top: 90px;
    z-index: -2;
}
.at-banner-main::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    opacity: .5;
    z-index: -1;
}

.at-banner-main_box span{
    color: var(--color-font-white);
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}
.at-banner-main_box h1{
    color: var(--color-font-white);
    font-size: 50px;
    font-weight: 600;
    max-width: 60%;
    margin-bottom: 20px;
}


@media screen and (max-width: 992px){

}

/***** Tamanho para smartphones na vertical *****/
@media screen and (max-width: 576px){
    .at-banner-main{
        min-height: 400px;
        padding-top: 40px;
    }
    .at-banner-main_box h1 {
        color: var(--color-font-white);
        font-size: 30px;
        font-weight: 600;
        max-width: 100%;
        margin-bottom: 20px;
    }
}
/***** Tamanho para smartphones na vertical *****/

/***** Tamanho para smartphones na horizontal *****/
@media screen and (max-width: 768px) and (min-width: 577px) {


}
/***** Tamanho para smartphones na horizontal *****/
